#run {
    width:60px;
    height:30px;
    border-radius:2px;
    background-color:#666;
    color:#fefefe;
    font-size:15px;
}

#text {
    width:500px;
    height:300px;
    border-radius:5px;
    border-color:#333;
    background-color:#333;
    color:#eee;
    font-size:10px;
}