#run {
    width:120px;
    height:60px;
    background-color:#666;
    color:#fefefe;
    font-size:30px;
}

#text {
    width:800px;
    height:400px;
    border-color:#333;
    background-color:#333;
    color:#eee;
    font-size:20px;
}

#showData {
    width:240px;
    height:60px;
    background-color:#666;
    color:#eee;
    font-size:30px;
}