#run {
    height:40px;
    background-color:#666;
    border-color:#666;
    color:#fefefe;
    font-size:20px;
    align-text:center;
}

#text {
    width:97%;
    height:400px;
    border-color:#333;
    border-radius:0px;
    background-color:#333;
    color:#eee;
    font-size:15px;
}

#showData {
    height:40px;
    background-color:#666;
    border-color:#666;
    color:#eee;
    font-size:20px;
}

#data {
    padding:4px;
    margin:5px;
    margin-left:1px;
    background-color:#666;
    color:#eee;
    font-size:20px;
    font-family:sans-serif;
}

#iobox {
    display:flex;
}

#iolabel {
    padding:4px;
    background-color:#aaa;
    width:5%;
    margin:5px;
    margin-left:1px;
    color:#fff;
    font-size:20px;
    font-family:sans-serif;
    text-align:center;
}

#io {
    border-radius:0px;
    border-color:#333;
    background-color:#333;
    margin:5px;
    width:91%;
    color:#eee;
    font-size:20px;
    font-family:sans-serif;
}